{% extends "base.html" %}
{% block title %}REMINDER | Organize Yourself. {% endblock title %}

{% block body %}
<div class="max-w-screen-lg bg-emerald-400 shadow-2xl rounded-lg h-lvh  m-auto text-center py-12 mt-4">
    <div class="flex item-center justify-center m-auto">
        <form class="w-full max-w-sm">
            <div class="flex items-center border-b-2 border-blue-500 py-2">
              <input class="bg-transparent border-none w-full text-black font-semibold placeholder-gray-900 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Your Name" aria-label="Full name">
              <a href="" class="bg-blue-400 rounded-xl mx-4 my-2 px-4 py-2 font-bold hover:bg-blue-600">Enter</a>
            </div>
          </form>
    </div>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat deleniti dolores sapiente modi, incidunt odio amet velit soluta voluptatum omnis ut, commodi quibusdam odit atque. Nisi soluta amet beatae esse explicabo doloribus optio vel eveniet, corrupti porro ipsa aperiam repellat numquam unde non quidem harum temporibus deleniti, laboriosam maiores enim perferendis. Expedita ipsum illo odit minima quo! Optio asperiores ut, animi cumque et natus non officiis quos pariatur sunt veritatis, eveniet ex? Laudantium nam error porro, odio quis quasi eaque blanditiis iste architecto consectetur, reprehenderit eligendi iusto officia provident? Sequi officia tempore aliquam ipsam! Sed, minus magnam enim repellendus, ex debitis eligendi hic iste praesentium at aspernatur ipsa sit deleniti excepturi? Labore ut repudiandae enim! Reiciendis quae magni, error adipisci cum dignissimos.</h1>
</div>



{% endblock body %}