{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block body %}

<form action="{% url "home:index" %}" method="post">
    {% csrf_token %}
    <div class="container flex item-center justify-center ">
        <div class="w-1/2 m-auto bg-white flex items-center border-b border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent w-full border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="text" placeholder="Jane Doe" aria-label="Full name">
        </div>
        <div class="w-1/2 m-auto bg-white flex items-center border-b border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent w-full border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="textarea" placeholder="Jane Doe" aria-label="Full name">
        </div>
        <div class="w-1/2 m-auto bg-white flex items-center border-b border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent w-full border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="date" placeholder="Jane Doe" aria-label="Full name">
        </div>
        <div class="w-1/2 m-auto bg-white flex items-center border-b border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent w-full border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="time" placeholder="Jane Doe" aria-label="Full name">
        </div>
    </div>

</form>


{% endblock body %}